
.vs/Ikkaku/v15/.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
*.user
AutoScript/Debug/AutoScript.tlog/AutoScript.lastbuildstate
AutoScript/Debug/AutoScript.log
Debug/Ikkaku.exe
Debug/Ikkaku.ilk
Debug/Ikkaku.pdb
*.log
*.tlog
*.obj
*.idb
*.pdb
source/iostream_split.txt
source/oya_rate.txt
source/autook.bat
